body {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #F9FAF8;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2837;
    gap: 30%;
    flex-wrap: wrap;
}

.logo-left {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 24px;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2837;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    gap: 3%;
}

.hero-text {
    max-width: 22%;
}

h1 {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text p {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    border-color: #3882F6;
    font-weight: bold;
}

.hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E5E7EB;
    background-color: gray;
    text-align: center;
    width: 520px;
    height: 220px;
}
