body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #F9FAF8;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 30%;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
}

.logo-left {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 24px;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding-bottom: 5%;
    padding-top: 5%;
    gap: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.hero-text {
    max-width: 35%;
}

h1 {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text p {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    border-color: #3882F6;
    font-weight: bold;
    padding: 0.3% 5% 0.3% 5%;
}

.hero-image {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    background-color: gray;
    max-width: 380px;
    height: 320px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937
}

.information-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

.information-pictures {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1.5%;
    flex-wrap: wrap;
}

.information-pictures img {
    border: 3px solid lightskyblue;
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.information-pictures p {
    max-width: 120px;
}

.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-top: 5%;
    padding-bottom: 5%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 30%;
}

.author {
    display: flex;
    justify-content: right;
}

.quote-section p {
    margin: 0;
}

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    background-color: #3882F6;
    color: #E5E7EB;
    margin-left:20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.banner-section p {
    margin: 0;
}

.banner-section button {
    border-color: white;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0.2% 1.5% 0.2% 1.5%;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.banner {
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}