body {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #F9FAF8;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2837;
    gap: 30%;
    flex-wrap: wrap;
}

.logo-left {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 24px;
}


.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-color: #1F2837;
    gap: 3%;
    flex-wrap: wrap;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 50%;
}

.hero-header {
    font-size: 48px;
    color: #F9FAF8;
    max-width: 50%;
}

.hero-image {
    color: #E5E7EB;
}
